.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.bg-default,
.btn-default {
    background-color: #f2f3f8;
}

.btn-error {
    color: #ef5f5f;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}

p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
}

.button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
}

.button-primary:hover {
    color: #c0ca33;
    text-decoration: none;
}

.button-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
}

.button-primary:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
}

.header-area {
    position: relative;
    height: 100px;
    background: #d90845;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repear;
    background-size: cover;
}

.banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.banner h1 {
    font-weight: 800;
}

.banner p {
    font-weight: 700;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
}

.navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}

.navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}

.navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in;
}

.navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-sform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
}

.navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(135deg);
    -ms-sform: translateY(-1px) rotate(135deg);
    transform: translateY(-1px) rotate(135deg);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-sform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    -webkit-transform: translateY(5px) rotate(0);
    -ms-sform: translateY(5px) rotate(0);
    transform: translateY(5px) rotate(0);
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar .dropdown-menu {
    padding: 0;
    background-color: rgba(0, 0, 0, .9);
}

.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: color 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #c0ca33;
}

.navbar .dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #c0ca33;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}

.navbar.fixed-top {
    position: fixed;
    -webkit-animation: navbar-animation 0.6s;
    animation: navbar-animation 0.6s;
    background-color: rgba(0, 0, 0, .9);
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
    color: #c0ca33;
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: #c0ca33;
}

.content {
    padding: 120px 0;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 20px;
    }

    .navbar-nav {
        padding: 0 20px;
        background-color: rgba(0, 0, 0, .9);
    }

    .navbar.fixed-top .navbar-nav {
        background: transparent;
    }
}

@media screen and (min-width: 767px) {
    .banner {
        padding: 0 150px;
    }

    .banner h1 {
        font-size: 5rem;
    }

    .banner p {
        font-size: 2rem;
    }

    .navbar-dark .navbar-nav .nav-link {
        padding: 23px 15px;
    }

    .navbar-dark .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        bottom: 15px;
        left: 30%;
        right: 30%;
        height: 1px;
        background-color: #fff;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        transition: transform 0.1s ease-in;
    }

    .navbar-dark .navbar-nav .nav-link:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }

    .dropdown-menu {
        min-width: 200px;
        -webkit-animation: dropdown-animation 0.3s;
        animation: dropdown-animation 0.3s;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
    }
}

@-webkit-keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }

    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }

    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }

    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }

    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    color: #000;
    background-color: #fff;
    border: rgba(0, 0, 0, 0);
}

.modal-message .modal-dialog {
    width: 300px;
}

.modal-message .modal-body,
.modal-message .modal-footer,
.modal-message .modal-header,
.modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center !important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}

.modal-message .modal-header .fa,
.modal-message .modal-header .glyphicon,
.modal-message .modal-header .typcn,
.modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}

.modal-backdrop {
    background-color: #fff;
}

.modal-message.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

.modal-message.modal-info .modal-header {
    color: #57b5e3;
    border-bottom: 3px solid #57b5e3;
}

.modal-message.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

.modal-message.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}

.loadding-page {
    width: 100%;
    height: 100%;
    background: #d90845;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.cssload-box-loading {
    width: 49px;
    height: 49px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.cssload-box-loading:before {
    content: '';
    width: 49px;
    height: 5px;
    background: #000000;
    opacity: 0.1;
    position: absolute;
    top: 58px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.58s linear infinite;
    -o-animation: shadow 0.58s linear infinite;
    -ms-animation: shadow 0.58s linear infinite;
    -webkit-animation: shadow 0.58s linear infinite;
    -moz-animation: shadow 0.58s linear infinite;
}

.cssload-box-loading:after {
    content: '';
    width: 49px;
    height: 49px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    animation: cssload-animate 0.58s linear infinite;
    -o-animation: cssload-animate 0.58s linear infinite;
    -ms-animation: cssload-animate 0.58s linear infinite;
    -webkit-animation: cssload-animate 0.58s linear infinite;
    -moz-animation: cssload-animate 0.58s linear infinite;
}

@keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@-o-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        -o-transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        -o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }

    75% {
        -o-transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        -o-transform: translateY(0) rotate(90deg);
    }
}

@-ms-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        -ms-transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        -ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }

    75% {
        -ms-transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        -ms-transform: translateY(0) rotate(90deg);
    }
}

@-webkit-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        -webkit-transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }

    75% {
        -webkit-transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        -webkit-transform: translateY(0) rotate(90deg);
    }
}

@-moz-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        -moz-transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }

    75% {
        -moz-transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        -moz-transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}

@-o-keyframes shadow {

    0%,
    100% {
        -o-transform: scale(1, 1);
    }

    50% {
        -o-transform: scale(1.2, 1);
    }
}

@-ms-keyframes shadow {

    0%,
    100% {
        -ms-transform: scale(1, 1);
    }

    50% {
        -ms-transform: scale(1.2, 1);
    }
}

@-webkit-keyframes shadow {

    0%,
    100% {
        -webkit-transform: scale(1, 1);
    }

    50% {
        -webkit-transform: scale(1.2, 1);
    }
}

@-moz-keyframes shadow {

    0%,
    100% {
        -moz-transform: scale(1, 1);
    }

    50% {
        -moz-transform: scale(1.2, 1);
    }
}

body{margin-top:0px;}
.footer {
    background:#232a34;
	padding-bottom: 50px;
	padding-top: 80px;
}
.footer_menu {
	margin-bottom: 20px;
}
.footer_menu ul {
	list-style: none;
	text-align: center;
}
.footer_menu ul li{display: inline-block;}
.footer_menu ul li a {
	color:#fff;
	padding: 0 10px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.footer_menu ul li a:hover{color:#554c86;}

/*START FOOTER SOCIAL DESIGN*/
.footer_profile{margin-bottom:40px;}
.footer_profile ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.footer_profile ul li{
display: inline-block;
}
@media only screen and (max-width:480px) { 
.footer_profile ul li{margin:2px;}
}
.footer_profile ul li a img{width:60px;}

.footer_profile ul li a {
	background: #554c86;
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	margin-right: 5px;
	border-radius: 50%;
	line-height: 40px;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-transition: .3s;
	transition: .3s;
	color: #fff;
}
.footer_copyright {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
}